<!DOCTYPE html>
<html lang="en">
    <head>
             
        <title>Hosp Checkin</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
            crossorigin="anonymous"
        />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" 
        rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
        crossorigin="anonymous">
        <link rel="stylesheet" href="/static/index.css">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    </head>
    <body>
      
        <header id="header" class="d-flex align-items-center navbar-dark bg-dark" >
            <div id="container" class="container d-flex align-items-center">    
                <div class="logo me-auto">
                    <h2><a href="index.html">Healing Hands</a></h2>                    
                  </div>  

                <nav id="navbar" class="d-flex flex-wrap justify-content-center py-3 mb-4 ">
                    <ul class="nav">
                        <li class="nav-item">
                        </li>
                        <li class="nav-item">
                            <a href="/signup" class="nav-link">Signup</a>
                        </li>
                        <li class="nav-item">
                            <a href="/signin" class="nav-link" aria-current="page"
                                >Sign In</a
                            >
                        </li>
                        <li class="nav-item">
                          <a href="/blog" class="nav-link" aria-current="page"
                              >Blog</a
                          >
                      </li>
                        
                    </ul>
                                             
                </nav>
            </div>    
        </header>
            <!-- copy paste -->
            <section id="hero">

                <div class="container">
                  <div class="row">
                    <div class="col-lg-6 pt-5 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center" data-aos="fade-up">
                      <div>
                        <h1>Experience you can Trust, Service you can Count.</h1>
                        <h2>Smarter technologies are here to save your time- We strive to provide execellent healthcare services prioritizing your safety and care.</h2>
                        <a href="#cta" class="btn-get-started scrollto">Know More</a>
                      </div>
                    </div>
                    <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="fade-left">
                      <img src="/static/main.jpg" class="img-fluid" alt="">
                    </div>
                  </div>
                </div>
            
              </section><!-- End Hero -->
            
              <main id="main">
            
                <!-- ======= About Section ======= -->
                <section id="cta" class="cta">
                  <div class="container">
            
                    <div class="row" data-aos="zoom-in">
                      
                      <div class="col-lg-3 cta-btn-container text-center">
                        <img src="/static/connectus.png" class="img-fluid" alt="">
                      </div>
                      <div class="col-lg-9 text-right text-lg-end">
                        <h3 >Connect With Us !</h3>
                        <p >Let us know about something about you and we are here to help.<br>We will guide you through a few questions that are straightforward and easy to answer.</p>
                        <a class="cta-btn" href="newsignup.html">Sign Up Now !</a>
                      </div>
                    </div>
            
                  </div>
                </section>
                <!-- copy paste -->
                <!-- ======= Team Section ======= -->
    <section id="team" class="team">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h3>Our Team</h3>
          <p>To better my life by bettering the life of others</p>
          <p>Combining the best specialists and equipment to provide you nothing short of the best in healthcare.</p>
        </div>

        <div class="row">

          <div class="col-lg-4 col-md-6">
            <div class="member" data-aos="zoom-in">
              <div class="pic"><img src="/static/team-1.png" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Dr. Xyz</h4>
                <span>Dermatology</span>
                
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6">
            <div class="member" data-aos="zoom-in" data-aos-delay="100">
              <div class="pic"><img src="/static/team-2.png" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Dr. Abc</h4>
                <span>Neurology</span>
                
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6">
            <div class="member" data-aos="zoom-in" data-aos-delay="200">
              <div class="pic"><img src="/static/team-3.png" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Dr. Ijk</h4>
                <span>Cardiology</span>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Team Section -->
    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact section-bg">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h3>Contact Us</h3>
        </div>

        <div class="row">

          <div class="col-lg-5 d-flex align-items-stretch" data-aos="fade-right">
            <div class="info">
              <div class="address">
                <i class="fa-solid fa-location-dot"></i>
                <h4>Location:</h4>
                <p>A108 XYZ, Mumbai, 535022</p>
              </div>

              <div class="email">
                <i class="fa-solid fa-envelope"></i>
                <h4>Email:</h4>
                <p>hospital@example.com</p>
              </div>

              <div class="phone"> 
                <i class="fa-solid fa-phone"></i>               
                <h4>Call:</h4>
                <p>91-385-686-3436</p>
              </div>
              <div class="facebook"> 
                <i class="fa fa-facebook" aria-hidden="true"></i>               
                <h4>Facebook:</h4>
                <p>Username</p>
              </div>
              <div class="Instagram"> 
                <i class="fa fa-instagram" aria-hidden="true"></i>               
                <h4>Instagram:</h4>
                <p>Username</p>
              </div>
            </div>

          </div>
          <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch text-center" data-aos="fade-left">
            <img src="/static/contact.png" class="img-fluid" alt="" >
          </div>  

      </div>
    </section>
    <!-- ======= Footer ======= -->
    <footer >
      <div class="row justify-content-center mb-0 pt-5 pb-0 row-2 px-3">
          <div class="col-12">
               <div class="row row-2">
                   <div class="col-sm-3 text-md-center"><h5><span> <i class="fa fa-firefox text-light" aria-hidden="true"></i></span><b>Prof. Swati Ringe</b></h5></div>
                   <div class="col-sm-3  my-sm-0 mt-5"><ul class="list-unstyled"><li class="mt-0">Archana </li><li>Rajeshwar</li><li>9396</li></ul></div>
                   <div class="col-sm-3  my-sm-0 mt-5"><ul class="list-unstyled"><li class="mt-0">Sanvi</li><li>Pokle</li><li>9395</li></ul></div>
                   <div class="col-sm-3  my-sm-0 mt-5"><ul class="list-unstyled"><li class="mt-0">Moeez</li><li>Shaikh</li><li>9406</li></ul></div>
               </div>  
          </div>
      </div>
   </footer>
    <script src="https://kit.fontawesome.com/12e9a62a98.js" crossorigin="anonymous"></script>
    </body>
</html>