<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <iframe title="Regional Emergency Response Template" width="1140" height="541.25" src="https://app.powerbi.com/reportEmbed?reportId=a625f487-b7eb-4c31-aaea-e2c3b5069456&appId=6d456460-3d1d-4bd9-bacc-edd81153aec8&autoAuth=true&ctid=4ce6ec41-846c-4776-90d5-d0db29b1ef5e" frameborder="0" allowFullScreen="true"><button type="button" class="btn btn-primary">Go to Example.com</button></iframe>
</body>
</html>